@{
    // Устанавливаем заголовок страницы, который будет использован в _Layout.cshtml
    ViewData["Title"] = "Главная страница";
}

@* Содержимое секции <main> из вашего index.txt *@
<div class="song-section">
    <h2>Поп музыка</h2>
    <ul class="song-list">
        <li>Песня 1 - Исполнитель</li>
        <li>Песня 2 - Исполнитель</li>
        <li>Песня 3 - Исполнитель</li>
        <li>Песня 4 - Исполнитель</li>
        <li>Песня 5 - Исполнитель</li>
        <li>Песня 6 - Исполнитель</li>
        @* Сюда вы позже будете выводить реальные данные из базы данных *@
    </ul>
</div>

<div class="song-section">
	<h2>Биты</h2>
	<ul class="song-list">
		<li>Бит 1 - Исполнитель</li>
		<li>Бит 2 - Исполнитель</li>
		<li>Бит 3 - Исполнитель</li>
		<li>Бит 4 - Исполнитель</li>
		<li>Бит 5 - Исполнитель</li>
		<li>Бит 6 - Исполнитель</li>
	</ul>
</div>

<div class="song-section">
	<h2>Рекомендуем</h2>
	<ul class="song-list">
		<li>Рекомендация 1 - Исполнитель</li>
		<li>Рекомендация 2 - Исполнитель</li>
		<li>Рекомендация 3 - Исполнитель</li>
		<li>Рекомендация 4 - Исполнитель</li>
		<li>Рекомендация 5 - Исполнитель</li>
		<li>Рекомендация 6 - Исполнитель</li>
	</ul>
</div>

<div class="song-section">
	<h2>Рекомендуем</h2>
	<ul class="song-list">
		<li>Рекомендация 1 - Исполнитель</li>
		<li>Рекомендация 2 - Исполнитель</li>
		<li>Рекомендация 3 - Исполнитель</li>
		<li>Рекомендация 4 - Исполнитель</li>
		<li>Рекомендация 5 - Исполнитель</li>
		<li>Рекомендация 6 - Исполнитель</li>
	</ul>
</div>

<div class="song-section">
	<h2>Рекомендуем</h2>
	<ul class="song-list">
		<li>Рекомендация 1 - Исполнитель</li>
		<li>Рекомендация 2 - Исполнитель</li>
		<li>Рекомендация 3 - Исполнитель</li>
		<li>Рекомендация 4 - Исполнитель</li>
		<li>Рекомендация 5 - Исполнитель</li>
		<li>Рекомендация 6 - Исполнитель</li>
	</ul>
</div>
@* Добавьте остальные секции <main> из вашего index.txt, если они есть *@

@* Если для главной страницы нужны свои скрипты, их можно добавить так: *@
@* @section Scripts {
    <script>
        // Специфичный для главной страницы JS
        console.log("Загружена главная страница!");
    </script>
} *@